.row
  - unless user_signed_in?
    .col-sm
    .col-sm
      .card
        .card-body.text-center
          %h2.card-title
            Welcome

          %p.card-text
            = link_to 'Log in', new_user_session_path, class: 'btn btn-outline-success btn-fixed'
            %br
            %br
            = link_to 'Sign up', new_user_registration_path, class: 'btn btn-outline-success btn-fixed'
    .col-sm