.container
  .row
    .col-sm
    .col-sm
      .card
        .card-body.text-center
          .card-title
            %h5
              Reconnect login
            = form_tag reconnect_login_path, method: :post do
              %p
                Login
              = text_field_tag :login, '', class: 'form-control'
              %br
              %p
                Password
              = password_field_tag :password, '', class: 'form-control'
              %br
              = submit_tag 'Submit', class: 'btn btn-primary'
    .col-sm